* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	background-color: #11111a;
	color: white;
}

button {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	border: none;
	background: none;
	cursor: pointer;
	transition: opacity 200ms linear;
}

button:focus-visible {
	outline: 1px solid white;
}

button[disabled] {
	cursor: not-allowed;
	opacity: 0.5;
}

select,
option {
	font-family: inherit;
	font-size: inherit;
}

select:focus-visible {
	outline: 1px solid white;
	outline-offset: 0.25rem;
}

.vh {
	position: absolute;
	left: -100vw;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

img {
	max-width: 100%;
}

.mirrored {
	transform: scaleX(-1);
}

.absolute {
	position: absolute;
}
